@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    /* border: 1px solid grey; */
}

:root {
    --dark-grey: #343a40;
    --light-grey: #adb5bd;
    --background-grey: #dee2e6;
}

html, body {
    font-family: 'Roboto', sans-serif;
    /* max-width: 90%;
    margin: 0 auto; */
}

.container-1 {
    padding: 32px 24px;
}

.container-2 {
    padding: 32px 72px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 24px;
}

.brand {
    height: 32px;
    display: flex;
    align-items: center;
}

.brand p {
    text-transform: uppercase;
    color: var(--light-grey);
    font-weight: bolder;
}

.brand p span {
    color: var(--dark-grey);
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 16px;
}

#banner {
    display: flex;
    gap: 24px;
    align-items: center;
    background-color: var(--background-grey);
}

#banner img {
    width: 60%;
}

.start {
    width: 40%;
}

.start h1 {
    font-size: 2.5rem;
    color: var(--dark-grey);
    padding-bottom: 1.5rem;
}

.start p {
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
}

.start input {
    width: 100%;
    font-size: 1.2rem;
    background-color: var(--dark-grey);
    padding-block: 8px;
    color: white;
}

#school {
    display: flex;
    gap: 24px;
}

#school .feat-lg {
    width: 60%;
}

.feat-lg img {
    max-width: 100%;
}

.feat-lg h2 {
    font-size: 1.8rem;
    padding-top: 32px;
    padding-bottom: 24px;;
}

.feat-lg p {
    font-size: 1rem;
    color: rgb(111, 106, 106);
    padding-bottom: 32px;
    line-height: 22px;
}

.feat-lg small {
    font-size: 0.8rem;
}

#school .feat-sm {
    width: 40%;
    border-left: .5px solid rgb(204, 199, 199);
}

.feat-sm .info-card {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.info-card img {
    width: 35%;
}

.info-card .card-text {
    width: 65%;
}

.card-text h3 {
    font-size: 1.5rem;
    padding-bottom: 8px;
}

.card-text p {
    font-size: 1rem;
    line-height: 24px;
    padding-bottom: 8px;
    color: rgb(111, 106, 106);
}

.card-text a {
    font-size: 0.9rem;
    color: #00a8e8;
}

.selected {
    background-color: var(--background-grey);
}

#courses {
    background-color: #e9ecef;
}

#courses h1 {
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 32px;
    color: var(--dark-grey);
}

.course-cards {
    display: flex;
    justify-content: space-between;
    gap: 32px 32px;
    flex-wrap: wrap;
}

.card {
    width: calc(100%/3 - 32px);
    background-color: white;
}

.card .course-img {
    width: 100%;
}

.card .course-content {
    padding: 16px 16px 24px 16px;
}

.course-content h3 {
    font-size: 1.5rem;
    padding-bottom: 8px;
}

.course-content h4 {
    color: var(--light-grey);
    padding-bottom: 8px;
    font-weight: 400;
}

.course-content .course-detail {
    color: var(--light-grey);
    font-weight: 400;
}

#thesis {
    border-bottom: .5px solid rgb(204, 199, 199);
}

#thesis h1 {
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 32px;
    color: var(--dark-grey);
}

.thesis-disp {
    display: flex;
    gap: 24px;
}

.thesis-disp .exhibit {
    width: 60%;
}

.exhibit iframe {
    width: 100%;
    height: 30rem;
    margin-bottom: 24px;
}

.exhibit h2 {
    font-size: 1.8rem;
    padding-bottom: 8px;
}

.exhibit p {
    color: rgb(111, 106, 106);
    line-height: 22px;
}

.thesis-disp .others {
    width: 40%;
}

.other-card {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.other-card img {
    width: 35%;
}

.other-card .other-text {
    width: 65%;
}

.other-text h3 {
    font-size: 1.5rem;
    padding-bottom: 16px;
}

.other-text p {
    font-size: 1rem;
    color: rgb(111, 106, 106);
}

footer {
    padding: 16px 24px 36px 24px;
    display: flex;
    justify-content: space-between;
    color: rgb(111, 106, 106);
}

.terms {
    display: flex;
}

.terms p {
    padding-left: 16px;
}